In [3]:
import pandas as pd
data_path = "kmrd-small/"

In [4]:
castings = pd.read_csv(f"{data_path}/castings.csv")
countries = pd.read_csv(f"{data_path}/countries.csv")
genres = pd.read_csv(f"{data_path}/genres.csv")
ratings = pd.read_csv(f"{data_path}/rates.csv")

movies = pd.read_csv(f"{data_path}/movies.txt", sep='\t')
peoples = pd.read_csv(f"{data_path}/peoples.txt", sep='\t')

In [5]:
# 불러온 데이터프레임 확인
print("ratings 데이터 셋")
print(ratings.head(), "\n")

print("movies 데이터 셋")
print(movies.head(), "\n")

ratings 데이터 셋
   user  movie  rate        time
0     0  10003     7  1494128040
1     0  10004     7  1467529800
2     0  10018     9  1513344120
3     0  10021     9  1424497980
4     0  10022     7  1427627340

movies 데이터 셋
   movie                 title                           title_eng    year  \
0  10001                시네마 천국              Cinema Paradiso , 1988  2013.0
1  10002              빽 투 더 퓨쳐           Back To The Future , 1985  2015.0
2  10003            빽 투 더 퓨쳐 2    Back To The Future Part 2 , 1989  2015.0
3  10004            빽 투 더 퓨쳐 3  Back To The Future Part III , 1990  1990.0
4  10005  스타워즈 에피소드 4 - 새로운 희망                    Star Wars , 1977  1997.0

     grade
0   전체 관람가
1  12세 관람가
2  12세 관람가
3   전체 관람가
4       PG

In [6]:
print(ratings.info(), "\n")
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140710 entries, 0 to 140709
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   user    140710 non-null  int64
 1   movie   140710 non-null  int64
 2   rate    140710 non-null  int64
 3   time    140710 non-null  int64
dtypes: int64(4)
memory usage: 4.3 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      999 non-null    int64
 1   title      992 non-null    object
 2   title_eng  991 non-null    object
 3   year       609 non-null    float64
 4   grade      957 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB
None

In [7]:
num_users = ratings['user'].nunique()
num_movies_in_ratings = ratings['movie'].nunique()
num_movies_in_movies = movies['movie'].nunique()
num_ratings = len(ratings)
num_countries = countries['country'].nunique()
num_cast = castings['people'].nunique()
num_peoples = peoples['people'].nunique()

print(f"사용자 수: {num_users}")
print(f"영화 수(평점 속): {num_movies_in_ratings}")
print(f"영화 수(영화 속): {num_movies_in_movies}")
print(f"평점 수: {num_ratings}")
print(f"제작국가 수: {num_countries}")
print(f"출연진 수: {num_cast}")
print(f"사람 수: {num_peoples}")

사용자 수: 52028
영화 수(평점 속): 600
영화 수(영화 속): 999
평점 수: 140710
제작국가 수: 36
출연진 수: 6644
사람 수: 7172

In [8]:
ratings

         user  movie  rate        time
0           0  10003     7  1494128040
1           0  10004     7  1467529800
2           0  10018     9  1513344120
3           0  10021     9  1424497980
4           0  10022     7  1427627340
...       ...    ...   ...         ...
140705  52023  10998    10  1421679660
140706  52024  10998    10  1204622460
140707  52025  10998     7  1498546920
140708  52026  10998     9  1434090420
140709  52027  10998    10  1227036960

[140710 rows x 4 columns]