<a href="https://colab.research.google.com/github/wamma/codyssey/blob/main/prob01-01/pro0101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd

In [64]:
df = pd.read_csv('prob-0101.csv')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   개봉일     59 non-null     object
 1   제목      59 non-null     object
 2   배급사     59 non-null     object
 3   감독      59 non-null     object
 4   출연진     59 non-null     object
 5   장르      59 non-null     object
dtypes: object(6)
memory usage: 2.9+ KB

### 영화 개수, 배급사 수, 감독 수, 출연진 수, 장르 수 파악하기.

In [66]:
df.describe(include='all')

               개봉일   제목       배급사   감독                     출연진   장르
count           59   59        59   59                      59   59
unique          32   59        52   58                      59   20
top     2023-04-12  스위치  (주)인디스토리  최윤호  권상우, 오정세, 이민정, 박소이, 김준  드라마
freq             6    1         2    2                       1   27

In [67]:
print(df.to_string())

           개봉일                        제목                  배급사                       감독                                                                                                     출연진               장르
0   2023-01-04                       스위치  롯데컬처웍스, (주)롯데엔터테인먼트                      마대윤                                                                                  권상우, 오정세, 이민정, 박소이, 김준               기타
1   2023-01-05                      강남좀비            (주)와이드릴리즈                      이수성                                                                                                 지일주, 지연              드라마
2   2023-01-12                별 볼일 없는 인생             (주)이놀미디어                      서동현                                                                                                     정가은           멜로/로맨스
3   2023-01-12                  10일간의 애인               (주)그노스                      이영용                                                                                                     송민경           멜로/로맨스
4   2023-01-18                        교섭           플렉스엠엔터테인먼트                      임순례                                                                                            황정민, 현빈, 강기영              드라마
5   2023-01-18                        유령            (주)CJ ENM                      이해영                                                                            설경구, 이하늬, 박소감, 박해수, 서현우, 김동희               액션
6   2023-01-20                        정이                 넷플릭스                      연상호                                                                                           강수연, 김현주, 류경수               SF
7   2023-01-25            열여덟, 어른이 되는 나이                필름 다빈                       주영                                                                                      임선우, 김명찬, 이장유, 박현숙              드라마
8   2023-02-08                     다음 소희            트윈플러스파트너스                      정주리                                                                                      김시은, 배두나, 박우영, 정수하              드라마
9   2023-02-08          어쩌면 우린 헤어졌는지 모른다        (주)영화특별시 에스엠씨                      형슬우                                                                                      이동휘, 정은채, 강길우, 정다은              드라마
10  2023-02-08           우리 사랑이 향기로 남을 때   (주)콘텐츠존, (주)다자인소프트                      임성용                                                                            윤시윤, 설인아, 노상현, 문지인, 이규복, 김영웅       멜로·로맨스·코미디
11  2023-02-17           스마트폰을 떨어뜨렸을 뿐인데                 넷플릭스                      김태준                                                                                           천우희, 임시완, 김희원              스릴러
12  2023-02-22                       카운트            (주)CJ ENM                      권혁재                                                                            진선규, 성유빈, 오나라, 고창석, 장동주, 고규필              드라마
13  2023-02-22                        살수         (주)제이앤씨미디어그룹                      곽정덕                                                                                 신현준, 이문식, 김민경, 홍은기, 최성원               액션
14  2023-02-23                     컨버세이션                필름 다빈                      김덕중                                                                             조은지, 박종환, 곽민규, 소이, 송은지, 곽진무              드라마
15  2023-03-01                       멍뭉이        (주)와이웍스엔터테인먼트                      김주환                                                                                                유연석, 차태현              드라마
16  2023-03-01                       대외비           플러스엠엔터테인먼트                      이원태                                                                                           조진웅, 이성민, 김무열          범죄, 드라마
17  2023-03-08                   그대 어이가리            (주)영화사 순수                      이창열                                                                                           선동혁, 정아미, 박종진              드라마
18  2023-03-15                     소울메이트       (주)넥스트엔터테인먼트월드                      민용근                                                                                           김다미, 전소니, 변우석              드라마
19  2023-03-23                    낭만 캠퍼스              (주)콘텐츠윙                      박동기                                                                       신민재, 송보은, 이경욱, 설유진, 현진영, 박동기, 김세환              드라마
20  2023-03-29                   여섯 개의 밤             (주)인디스토리                      최창환                                                                            강길우, 강진아, 김시은, 변중희, 이한주, 정수지  드라마, 멜로·로맨스, 가족
21  2023-03-29                  여덟 번째 감각             (주)플레이그램                      배인우                                                                       오준택, 임지섭, 박해인, 장영준, 방진원, 서지안, 채수아           멜로·로맨스
22  2023-03-29                       웅남이            (주)CJ CGV                      박성광                                                             박성웅, 이이경, 염혜란, 최민수, 오달수, 윤제문, 백지혜, 서동원, 한다솔          코미디, 액션
23  2023-03-29                 찬란한 나의 복수        영화배급협동조합 씨네소파                      임성운                                                                                           허준석, 이영석, 남보라              드라마
24  2023-03-29                       흐르다            M&M 인터내셔널                      김현정                                                                                                 이설, 박지수              드라마
25  2023-04-05                      리바운드           (주)바른손이앤아이                      장항준                                                                                                안재홍, 양한열              드라마
26  2023-04-05                      장기자랑            (주)영화사 진진                      이소현                                                                       김명임, 김도현, 김순덕, 박유신, 이미경, 최지연, 박혜영            다큐멘터리
27  2023-04-05                  오늘 출가합니다            (주)트리플픽쳐스                      김성환                                                                                                양홍주, 나현준              드라마
28  2023-04-05                    불멸의 여자           드림팩트엔터테인먼트                      최종태                                                                                            이음, 윤가현, 인내상              드라마
29  2023-04-06                    솔라 플라워               ㈜스토리제이                      한경탁                                                              오원빈, 서지희, 심현탁, 박정철, 김수하, 김민, 김봉주, 조수빈, 정병훈       멜로,로맨스,드라마
30  2023-04-12                   사랑의 고고학             (주)엣나인필름                      이완민                                                                                            옥자연, 기윤, 하민호              드라마
31  2023-04-12                    보이지 않아           아웃런브라더스픽쳐스                      최세환                                                                            박호산, 신애리, 백수련, 이노아, 정혜인, 이용녀              드라마
32  2023-04-12                        제비              (주)시네마달                     이송희일                                                                        윤박, 우지현, 박미현, 장희령, 이대연, 박소진, 유인수              드라마
33  2023-04-12                 나는 여기에 있다            와이드릴리즈(주)                      신근호                                                                      조한선, 정지운, 정태우, 노수산나, 박순천, 정인기, 이지원        범죄·액션·스럴리
34  2023-04-12                      물안에서       영화제작전원사, 콘텐츠판다                      홍상수                                                                                 신석호, 하성국, 김승윤, 김민희, 김소령              드라마
35  2023-04-12      밥만 잘 사주는 이상한 이사님 극장판               CJ CGV                      양경희                                                                                                박정우, 박영훈           드라마,멜로
36  2023-04-14                    킬링 로맨스   롯데컬쳐웍스 (주)롯데엔터테인먼트                      이원석                                                                                       이하늬, 이선균, 공명, 김상욱              코미디
37  2023-04-19                    낭만적 공장             (주)영화사오윈                      조은성                                                                                      심희섭, 전혜진, 한승도, 박수영           멜로·로맨스
38  2023-04-19                     튤립 모양               삼거리픽쳐스                      양윤모                                                                            유다인, 김다현, 문희경, 김정균, 진혜원, 이지용              드라마
39  2023-04-26                        드림        (주)플렉스엠엔터테인먼트                      이병헌                                                        박서준, 아이유, 김종수, 고창석, 정승길, 이현우, 양현민, 홍완표, 허준석, 이하늬              드라마
40  2023-04-27                      2퍼센트               시네마 뉴원                      문신구                                                                                                허지나, 남명렬              드라마
41  2023-05-10                        롱디         (주)넥스트엔터테인먼트                      임재완                                                                                                장동윤, 박유나       멜로·로맨스·코미디
42  2023-05-10                      바람개비             (주)디스테이션                      이상훈                                                                                 차선우, 유지애, 김소희, 이원석, 서지후               액션
43  2023-05-10                      스트리머          TCO(주)더콘텐츠온                      장형모                                                                                 이푸름, 권민혁, 김준형, 심소영, 김모범          공포·미스터리
44  2023-05-17                말이야 바른 말이지               씨에스픽쳐스  박동훈, 최하나, 송현주, 한인미, 윤성호                                                        김경일, 양현민, 김소형, 김우겸, 정승길, 조윤서, 신사랑, 오경화, 서벽준, 정유연              코미디
45  2023-05-18  남자는 처음을 원하고 여자는 마지막을 원한다             (주)스토리제이                      이현준                                                                                           윤성모, 정미미, 장원혁           멜로·로맨스
46  2023-05-24                      스프린터             스튜디오 에이드                      최승연                                                                       박성일, 공민정, 임지호, 전신환, 송덕호, 최준혁, 한태경               기타
47  2023-05-31                     드림팰리스             (주)인디스토리                      가성문                                                                                      김선영, 이윤지, 최민영, 김용준              드라마
48  2023-05-31                    범죄도시 3        (주)에이비오엔터테인먼트                      이상용  마동석, 이준혁, 아오키 무네타카, 이범수, 김민재, 이지훈, 김도건, 최동구, 이세호, 고규필, 전석호, 최우준, 한규원, 이태규, 홍준영, 안세호, 강윤, 배누리, 심영은, 김기호           범죄, 액션
49  2023-06-07                   박하경 여행기             CJ엔터테인먼트                      이종필                                                                                                     이나영              드라마
50  2023-06-07                 익스트림 페스티벌         트윈플러스파트너스(주)                      김홍기                                                                                           김재화, 조민재, 박강섭              코미디
51  2023-06-08                     안나푸르나                시네마뉴원                      황승제                                                                                 김강현, 차선우, 한수연, 신연서, 서은채              드라마
52  2023-06-08                      육지것들              (주)씨엠닉스                       이황                                                                                                      소이              코미디
53  2023-06-14                       실버맨             (주)이놀미디어                      최윤호                                                                                 김정팔, 박상욱, 신의현, 이경준, 유재인              드라마
54  2023-06-21                       귀공자       (주)넥스트엔터테인먼트월드                      박훈정                                                                                      김선호, 강태주, 김강우, 고아라               액션
55  2023-06-21                         손             (주)이눌미디어                      최윤호                                                                                  이재원, 박상욱, 정서하, 허웅, 안수호           공포,코미디
56  2023-06-21                       인드림            (주)원더스튜디오                      신재호                                                                                 서효림, 오지호, 김승수, 이설구, 노지유               액션
57  2023-06-28             아수라장: 범털들의 전쟁         (주)제이앤씨미디어그룹                      윤여창                                                                                      정영주, 안미나, 배진아, 한가은               범죄
58  2023-06-28                        라방               트리플픽쳐스                      최주연                                                                                           박성웅, 박선호, 김희정              스릴러

In [68]:
directors_counts = df['감독'].value_counts()
directors_counts

감독
최윤호                        2
마대윤                        1
장형모                        1
최세환                        1
이송희일                       1
신근호                        1
홍상수                        1
양경희                        1
이원석                        1
조은성                        1
양윤모                        1
이병헌                        1
문신구                        1
임재완                        1
이상훈                        1
박동훈, 최하나, 송현주, 한인미, 윤성호    1
이수성                        1
이현준                        1
최승연                        1
가성문                        1
이상용                        1
이종필                        1
김홍기                        1
황승제                        1
이황                         1
박훈정                        1
신재호                        1
윤여창                        1
이완민                        1
한경탁                        1
최종태                        1
김성환                        1
서동현                        1
이영용                        1
임순례                        1
이해영                        1
연상호                        1
주영                         1
정주리                        1
형슬우                        1
임성용                        1
김태준                        1
권혁재                        1
곽정덕                        1
김덕중                        1
김주환                        1
이원태                        1
이창열                        1
민용근                        1
박동기                        1
최창환                        1
배인우                        1
박성광                        1
임성운                        1
김현정                        1
장항준                        1
이소현                        1
최주연                        1
Name: count, dtype: int64

### 중복되는 감독 리스트 분리

In [69]:
df['감독_리스트'] = df['감독'].str.split(', ')
print(df[['감독', '감독_리스트']])

                         감독                     감독_리스트
0                       마대윤                      [마대윤]
1                       이수성                      [이수성]
2                       서동현                      [서동현]
3                       이영용                      [이영용]
4                       임순례                      [임순례]
5                       이해영                      [이해영]
6                       연상호                      [연상호]
7                        주영                       [주영]
8                       정주리                      [정주리]
9                       형슬우                      [형슬우]
10                      임성용                      [임성용]
11                      김태준                      [김태준]
12                      권혁재                      [권혁재]
13                      곽정덕                      [곽정덕]
14                      김덕중                      [김덕중]
15                      김주환                      [김주환]
16                      이원태                      [이원태]
17                      이창열                      [이창열]
18                      민용근                      [민용근]
19                      박동기                      [박동기]
20                      최창환                      [최창환]
21                      배인우                      [배인우]
22                      박성광                      [박성광]
23                      임성운                      [임성운]
24                      김현정                      [김현정]
25                      장항준                      [장항준]
26                      이소현                      [이소현]
27                      김성환                      [김성환]
28                      최종태                      [최종태]
29                      한경탁                      [한경탁]
30                      이완민                      [이완민]
31                      최세환                      [최세환]
32                     이송희일                     [이송희일]
33                      신근호                      [신근호]
34                      홍상수                      [홍상수]
35                      양경희                      [양경희]
36                      이원석                      [이원석]
37                      조은성                      [조은성]
38                      양윤모                      [양윤모]
39                      이병헌                      [이병헌]
40                      문신구                      [문신구]
41                      임재완                      [임재완]
42                      이상훈                      [이상훈]
43                      장형모                      [장형모]
44  박동훈, 최하나, 송현주, 한인미, 윤성호  [박동훈, 최하나, 송현주, 한인미, 윤성호]
45                      이현준                      [이현준]
46                      최승연                      [최승연]
47                      가성문                      [가성문]
48                      이상용                      [이상용]
49                      이종필                      [이종필]
50                      김홍기                      [김홍기]
51                      황승제                      [황승제]
52                       이황                       [이황]
53                      최윤호                      [최윤호]
54                      박훈정                      [박훈정]
55                      최윤호                      [최윤호]
56                      신재호                      [신재호]
57                      윤여창                      [윤여창]
58                      최주연                      [최주연]

In [70]:
exploded_df = df.explode('감독_리스트')
print(exploded_df[['감독_리스트']])

   감독_리스트
0     마대윤
1     이수성
2     서동현
3     이영용
4     임순례
..    ...
54    박훈정
55    최윤호
56    신재호
57    윤여창
58    최주연

[63 rows x 1 columns]

In [71]:
directors_counts = exploded_df['감독_리스트'].value_counts()

print("감독별 영화 개수:")
print(directors_counts)

감독별 영화 개수:
감독_리스트
최윤호    2
마대윤    1
송현주    1
신근호    1
홍상수    1
      ..
장항준    1
이소현    1
김성환    1
최종태    1
최주연    1
Name: count, Length: 62, dtype: int64

### 중복 출연한 출연진 리스트

In [72]:
df['출연진_리스트'] = df['출연진'].str.split(', ')
print(df[['출연진', '출연진_리스트']])

                                                  출연진  \
0                              권상우, 오정세, 이민정, 박소이, 김준
1                                             지일주, 지연
2                                                 정가은
3                                                 송민경
4                                        황정민, 현빈, 강기영
5                        설경구, 이하늬, 박소감, 박해수, 서현우, 김동희
6                                       강수연, 김현주, 류경수
7                                  임선우, 김명찬, 이장유, 박현숙
8                                  김시은, 배두나, 박우영, 정수하
9                                  이동휘, 정은채, 강길우, 정다은
10                       윤시윤, 설인아, 노상현, 문지인, 이규복, 김영웅
11                                      천우희, 임시완, 김희원
12                       진선규, 성유빈, 오나라, 고창석, 장동주, 고규필
13                            신현준, 이문식, 김민경, 홍은기, 최성원
14                        조은지, 박종환, 곽민규, 소이, 송은지, 곽진무
15                                           유연석, 차태현
16                                      조진웅, 이성민, 김무열
17                                      선동혁, 정아미, 박종진
18                                      김다미, 전소니, 변우석
19                  신민재, 송보은, 이경욱, 설유진, 현진영, 박동기, 김세환
20                       강길우, 강진아, 김시은, 변중희, 이한주, 정수지
21                  오준택, 임지섭, 박해인, 장영준, 방진원, 서지안, 채수아
22        박성웅, 이이경, 염혜란, 최민수, 오달수, 윤제문, 백지혜, 서동원, 한다솔
23                                      허준석, 이영석, 남보라
24                                            이설, 박지수
25                                           안재홍, 양한열
26                  김명임, 김도현, 김순덕, 박유신, 이미경, 최지연, 박혜영
27                                           양홍주, 나현준
28                                       이음, 윤가현, 인내상
29         오원빈, 서지희, 심현탁, 박정철, 김수하, 김민, 김봉주, 조수빈, 정병훈
30                                       옥자연, 기윤, 하민호
31                       박호산, 신애리, 백수련, 이노아, 정혜인, 이용녀
32                   윤박, 우지현, 박미현, 장희령, 이대연, 박소진, 유인수
33                 조한선, 정지운, 정태우, 노수산나, 박순천, 정인기, 이지원
34                            신석호, 하성국, 김승윤, 김민희, 김소령
35                                           박정우, 박영훈
36                                  이하늬, 이선균, 공명, 김상욱
37                                 심희섭, 전혜진, 한승도, 박수영
38                       유다인, 김다현, 문희경, 김정균, 진혜원, 이지용
39   박서준, 아이유, 김종수, 고창석, 정승길, 이현우, 양현민, 홍완표, 허준석, 이하늬
40                                           허지나, 남명렬
41                                           장동윤, 박유나
42                            차선우, 유지애, 김소희, 이원석, 서지후
43                            이푸름, 권민혁, 김준형, 심소영, 김모범
44   김경일, 양현민, 김소형, 김우겸, 정승길, 조윤서, 신사랑, 오경화, 서벽준, 정유연
45                                      윤성모, 정미미, 장원혁
46                  박성일, 공민정, 임지호, 전신환, 송덕호, 최준혁, 한태경
47                                 김선영, 이윤지, 최민영, 김용준
48  마동석, 이준혁, 아오키 무네타카, 이범수, 김민재, 이지훈, 김도건, 최동구, 이...
49                                                이나영
50                                      김재화, 조민재, 박강섭
51                            김강현, 차선우, 한수연, 신연서, 서은채
52                                                 소이
53                            김정팔, 박상욱, 신의현, 이경준, 유재인
54                                 김선호, 강태주, 김강우, 고아라
55                             이재원, 박상욱, 정서하, 허웅, 안수호
56                            서효림, 오지호, 김승수, 이설구, 노지유
57                                 정영주, 안미나, 배진아, 한가은
58                                      박성웅, 박선호, 김희정

                                              출연진_리스트
0                            [권상우, 오정세, 이민정, 박소이, 김준]
1                                           [지일주, 지연]
2                                               [정가은]
3                                               [송민경]
4                                      [황정민, 현빈, 강기영]
5                      [설경구, 이하늬, 박소감, 박해수, 서현우, 김동희]
6                                     [강수연, 김현주, 류경수]
7                                [임선우, 김명찬, 이장유, 박현숙]
8                                [김시은, 배두나, 박우영, 정수하]
9                                [이동휘, 정은채, 강길우, 정다은]
10                     [윤시윤, 설인아, 노상현, 문지인, 이규복, 김영웅]
11                                    [천우희, 임시완, 김희원]
12                     [진선규, 성유빈, 오나라, 고창석, 장동주, 고규필]
13                          [신현준, 이문식, 김민경, 홍은기, 최성원]
14                      [조은지, 박종환, 곽민규, 소이, 송은지, 곽진무]
15                                         [유연석, 차태현]
16                                    [조진웅, 이성민, 김무열]
17                                    [선동혁, 정아미, 박종진]
18                                    [김다미, 전소니, 변우석]
19                [신민재, 송보은, 이경욱, 설유진, 현진영, 박동기, 김세환]
20                     [강길우, 강진아, 김시은, 변중희, 이한주, 정수지]
21                [오준택, 임지섭, 박해인, 장영준, 방진원, 서지안, 채수아]
22      [박성웅, 이이경, 염혜란, 최민수, 오달수, 윤제문, 백지혜, 서동원, 한다솔]
23                                    [허준석, 이영석, 남보라]
24                                          [이설, 박지수]
25                                         [안재홍, 양한열]
26                [김명임, 김도현, 김순덕, 박유신, 이미경, 최지연, 박혜영]
27                                         [양홍주, 나현준]
28                                     [이음, 윤가현, 인내상]
29       [오원빈, 서지희, 심현탁, 박정철, 김수하, 김민, 김봉주, 조수빈, 정병훈]
30                                     [옥자연, 기윤, 하민호]
31                     [박호산, 신애리, 백수련, 이노아, 정혜인, 이용녀]
32                 [윤박, 우지현, 박미현, 장희령, 이대연, 박소진, 유인수]
33               [조한선, 정지운, 정태우, 노수산나, 박순천, 정인기, 이지원]
34                          [신석호, 하성국, 김승윤, 김민희, 김소령]
35                                         [박정우, 박영훈]
36                                [이하늬, 이선균, 공명, 김상욱]
37                               [심희섭, 전혜진, 한승도, 박수영]
38                     [유다인, 김다현, 문희경, 김정균, 진혜원, 이지용]
39  [박서준, 아이유, 김종수, 고창석, 정승길, 이현우, 양현민, 홍완표, 허준석, ...
40                                         [허지나, 남명렬]
41                                         [장동윤, 박유나]
42                          [차선우, 유지애, 김소희, 이원석, 서지후]
43                          [이푸름, 권민혁, 김준형, 심소영, 김모범]
44  [김경일, 양현민, 김소형, 김우겸, 정승길, 조윤서, 신사랑, 오경화, 서벽준, ...
45                                    [윤성모, 정미미, 장원혁]
46                [박성일, 공민정, 임지호, 전신환, 송덕호, 최준혁, 한태경]
47                               [김선영, 이윤지, 최민영, 김용준]
48  [마동석, 이준혁, 아오키 무네타카, 이범수, 김민재, 이지훈, 김도건, 최동구, ...
49                                              [이나영]
50                                    [김재화, 조민재, 박강섭]
51                          [김강현, 차선우, 한수연, 신연서, 서은채]
52                                               [소이]
53                          [김정팔, 박상욱, 신의현, 이경준, 유재인]
54                               [김선호, 강태주, 김강우, 고아라]
55                           [이재원, 박상욱, 정서하, 허웅, 안수호]
56                          [서효림, 오지호, 김승수, 이설구, 노지유]
57                               [정영주, 안미나, 배진아, 한가은]
58                                    [박성웅, 박선호, 김희정]

In [73]:
exploded_df = df.explode('출연진_리스트')
print(exploded_df[['출연진_리스트']])

   출연진_리스트
0      권상우
0      오정세
0      이민정
0      박소이
0       김준
..     ...
57     배진아
57     한가은
58     박성웅
58     박선호
58     김희정

[275 rows x 1 columns]

In [74]:
actors_counts = exploded_df['출연진_리스트'].value_counts()

print("출연진별 영화 개수:")
print(actors_counts)

출연진별 영화 개수:
출연진_리스트
이하늬    3
고규필    2
고창석    2
차선우    2
소이     2
      ..
한다솔    1
이영석    1
남보라    1
이설     1
김희정    1
Name: count, Length: 262, dtype: int64

### 분리된 감독, 출연진 출력

In [75]:
multiple_movies_directors = directors_counts[directors_counts > 1]
print("여러 영화를 작업한 감독:")
print(multiple_movies_directors)

여러 영화를 작업한 감독:
감독_리스트
최윤호    2
Name: count, dtype: int64

In [76]:
multiple_movies_actors = actors_counts[actors_counts > 1]
print("여러 영화에 출연한 배우:")
print(multiple_movies_actors)

여러 영화에 출연한 배우:
출연진_리스트
이하늬    3
고규필    2
고창석    2
차선우    2
소이     2
박상욱    2
김시은    2
박성웅    2
강길우    2
양현민    2
허준석    2
정승길    2
Name: count, dtype: int64

In [77]:
genres_counts = df['장르'].value_counts()
print("장르별 영화 개수:")
print(genres_counts)

장르별 영화 개수:
장르
드라마                27
액션                  5
코미디                 4
멜로·로맨스              3
기타                  2
멜로/로맨스              2
멜로·로맨스·코미디          2
스릴러                 2
범죄·액션·스럴리           1
공포,코미디              1
범죄, 액션              1
공포·미스터리             1
드라마,멜로              1
코미디, 액션             1
멜로,로맨스,드라마          1
다큐멘터리               1
드라마, 멜로·로맨스, 가족     1
범죄, 드라마             1
SF                  1
범죄                  1
Name: count, dtype: int64

### 추천하는 기준 설정

#### 인기 배우 기준

In [78]:
popular_actors = actors_counts[actors_counts > 1].index

In [79]:
recommended_movies_actor = df[df['출연진_리스트'].apply(lambda x: any(a in x for a in popular_actors))]
print("인기 배우가 출연한 영화:")
print(recommended_movies_actor[['제목', '출연진']])

인기 배우가 출연한 영화:
                  제목                                                출연진
5                 유령                       설경구, 이하늬, 박소감, 박해수, 서현우, 김동희
8              다음 소희                                 김시은, 배두나, 박우영, 정수하
9   어쩌면 우린 헤어졌는지 모른다                                 이동휘, 정은채, 강길우, 정다은
12               카운트                       진선규, 성유빈, 오나라, 고창석, 장동주, 고규필
14             컨버세이션                        조은지, 박종환, 곽민규, 소이, 송은지, 곽진무
20           여섯 개의 밤                       강길우, 강진아, 김시은, 변중희, 이한주, 정수지
22               웅남이        박성웅, 이이경, 염혜란, 최민수, 오달수, 윤제문, 백지혜, 서동원, 한다솔
23         찬란한 나의 복수                                      허준석, 이영석, 남보라
36            킬링 로맨스                                  이하늬, 이선균, 공명, 김상욱
39                드림   박서준, 아이유, 김종수, 고창석, 정승길, 이현우, 양현민, 홍완표, 허준석, 이하늬
42              바람개비                            차선우, 유지애, 김소희, 이원석, 서지후
44        말이야 바른 말이지   김경일, 양현민, 김소형, 김우겸, 정승길, 조윤서, 신사랑, 오경화, 서벽준, 정유연
48            범죄도시 3  마동석, 이준혁, 아오키 무네타카, 이범수, 김민재, 이지훈, 김도건, 최동구, 이...
51             안나푸르나                            김강현, 차선우, 한수연, 신연서, 서은채
52              육지것들                                                 소이
53               실버맨                            김정팔, 박상욱, 신의현, 이경준, 유재인
55                 손                             이재원, 박상욱, 정서하, 허웅, 안수호
58                라방                                      박성웅, 박선호, 김희정

#### 장르 기반 추천

In [80]:
unique_genres = df['장르'].unique()
print("장르 종류: ")
print(unique_genres)

장르 종류:
['기타' '드라마' '멜로/로맨스' '액션' 'SF' '멜로·로맨스·코미디' '스릴러' '범죄, 드라마'
 '드라마, 멜로·로맨스, 가족' '멜로·로맨스' '코미디, 액션' '다큐멘터리' '멜로,로맨스,드라마' '범죄·액션·스럴리'
 '드라마,멜로' '코미디' '공포·미스터리' '범죄, 액션' '공포,코미디' '범죄']

In [81]:
all_genres = df['장르'].str.split(r'[·,/]', expand=False).explode().str.strip().unique()

In [82]:
all_genres

array(['기타', '드라마', '멜로', '로맨스', '액션', 'SF', '코미디', '스릴러', '범죄', '가족',
       '다큐멘터리', '스럴리', '공포', '미스터리'], dtype=object)

In [83]:
preffered_genre = "액션"

In [84]:
recommended_genre = df[df['장르'].str.contains(preffered_genre, na=False)]
print(f"선호하는 장르 '{preffered_genre}'의 영화:")
print(recommended_genre[['제목', '장르']])

선호하는 장르 '액션'의 영화:
           제목         장르
5          유령         액션
13         살수         액션
22        웅남이    코미디, 액션
33  나는 여기에 있다  범죄·액션·스럴리
42       바람개비         액션
48     범죄도시 3     범죄, 액션
54        귀공자         액션
56        인드림         액션

### 상위 3개 영화 추천(장르 기반)

In [85]:
top_n = 3

In [86]:
print("상위 3개 영화:")
print(recommended_genre.head(top_n)[['제목', '감독']])

상위 3개 영화:
     제목   감독
5    유령  이해영
13   살수  곽정덕
22  웅남이  박성광

### 가장 많은 영화가 나온 개봉일자

In [87]:
release_date_counts = df['개봉일'].value_counts()

In [88]:
release_date_counts

개봉일
2023-04-12    6
2023-03-29    5
2023-04-05    4
2023-05-10    3
2023-06-21    3
2023-02-08    3
2023-06-28    2
2023-06-07    2
2023-05-31    2
2023-03-01    2
2023-02-22    2
2023-06-08    2
2023-01-18    2
2023-01-12    2
2023-04-19    2
2023-04-27    1
2023-05-24    1
2023-05-18    1
2023-06-14    1
2023-05-17    1
2023-01-04    1
2023-04-26    1
2023-04-14    1
2023-01-05    1
2023-03-23    1
2023-03-15    1
2023-03-08    1
2023-02-23    1
2023-02-17    1
2023-01-25    1
2023-01-20    1
2023-04-06    1
Name: count, dtype: int64

In [89]:
most_popular_date = release_date_counts.idxmax()

In [90]:
print(most_popular_date)

2023-04-12

In [91]:
most_popular_date_count = release_date_counts.max()

In [92]:
print(most_popular_date_count)

6